APP_ENV="development"
DATA_PATH="data"
MODEL_PATH="./model-output/final"
HF_TOKEN=""
HF_MODEL_REPO_ID=""

FIELD_KEY_PREFIX="FIELD_KEY_"
FIELD_VALUE_PREFIX="FIELD_VALUE_"
HEADER_PREFIX="HEADER_"
ITEM_PREFIX="ITEM_"
ROW_TOLERANCE=8
EDGE_TOLERANCE=8
COLUMN_TOLERANCE=50
PAGE_MAX_DISTANCE=2000
AMBIGUITY_K=1.5
